*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
  max-width: 900px;
  margin: 0 auto;

}

.advice-area{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice-inner{
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 text-align: center;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 padding: 24px;
 border-radius: 8px;
 min-width: 750px;
 width: 750px;
 min-height: 164px;
}

h1{
  font-size: 20px;
  padding-bottom: 24px;
  font-weight: 500;
}

button{
  font-family: "Montserrat", sans-serif;
  padding: 8px 16px;
  border-radius: 50px;
  border: none;
  background-color: #660080;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

/* Loader css */
.loader {
  position: relative;
  width:  48px;
  height: 48px;
  background: #de3500;
  transform: rotateX(65deg) rotate(45deg);
  animation: layers1 1s linear infinite alternate;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
  0% { box-shadow: 0px 0px 0 0px  }
 90% , 100% { box-shadow: 20px 20px 0 -4px  }
}
@keyframes layerTr {
  0% { transform:  translate(0, 0) scale(1) }
  100% {  transform: translate(-25px, -25px) scale(1) }
}
